.container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: darkgrey;
  width: 640px;
  height: 640px;
  border: 0.5px solid darkgrey;
}

.grid{
  width: 39px;
  height: 39px;
  background-color: rgb(230, 230, 230);
  display: inline-block;
  margin: 0.5px;
  transition: background-color 0.08s ease;
  user-select: none;
}

.grid:hover{
  background-color: rgb(80, 80, 80);
}

.grid:not(:hover){
  transition-delay: 0.2s;
  background-color: rgb(230, 230, 230);
}